
<div class="container-fluid">
      <h2>You have been assigned the following courses</h2>
      <h3>Choose the topics you would like to study today</h3>
      <h3> Math </h3>
      <form action="/auth/display" method="POST">
        <div>
            
            <input type="checkbox" id="time" name="time" value="time">
            <label for="time"> Time</label><br> 
        </div>
        <div>   
          <input type="checkbox" id="Measuring" name="measurement" value="measurement">
          <label for="time"> Measurement</label><br>
        </div>
        <div>   
          <input type="checkbox" id="complexShapes" name="Complex Shapes" value="Complex Shapes">
          <label for="Complex Shapes"> Complex Shapes</label><br>
        </div>
        <div>   
          <input type="checkbox" id="money" name="money" value="money">
          <label for="money"> Money</label><br>
        </div>
        <div>   
          <input type="checkbox" id="addition" name="addition" value="addition">
          <labelr="addition"> Addition</label><br>
        </div>
        <div>   
          <input type="checkbox" id="subtraction" name="subtraction" value="subtraction">
          <label for="subtraction"> Subtraction</label><br>
        </div>

          <h3> Reading </h3>      
        <div>   
          <input type="checkbox" id="vocabulary" name="vocabulary" value="vocabulary">
          <label for="vocabulary"> Vocabulary</label><br>
        </div>
        <div>   
          <input type="checkbox" id="writing" name="writing" value="writing">
          <label for="writing"> Writing</label><br>
        </div>

      <h3> Social/Emotional Learning </h3>      
      <div>   
        <input type="checkbox" id="curiosity" name="curiosity" value="curiosity">
        <label for="curiosity"> Curiosity</label><br>
      </div>

        <button type="submit">Begin Studying</button>
        </form>
    </div>
  </body>
</html>