<div class="container-fluid">
    <!DOCTYPE html>
<html>
<body>
      <h2>Display links</h2>
      <script>
              //var myfile=require('./controllers/users');
              console.log("hi");
              //console.log(myfile.val);
              document.write("hi");
              a = 9;
              b = 19;
              c = a + b;
              console.log(c);
              document.write(c);
    </script>
</body>
</html>
</div>